body {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #e0ffff;
}
a:active {
    color: white;
}
p.center {
    text-align: center;
}
b {
    font-weight: bold;
}
i {
    font-style: italic;
}
div#header {
    margin-top: 25px;
}
div#link-list {
    margin-top: 25px;
}
div#profile {
    margin-top: 25px;
}
